body {
  background-color: rgb(208, 206, 235);
  text-align: center;
  font-family: sans-serif;
}

.tempcon {
  color: rgb(105,108,120);
}

#inputButton {
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: grey;
  text-align: center;
}

.radiobuttons {
  padding: 0 20px;
}

.raduttons {
  margin: 30px;
}

.submitbuttons {
}

.evaluation {
  background-color: red;
  color: white;
  font-size:60px;
  width: 600px;
  margin: auto
}
